.btn-primary, .btn-primary:hover, .btn-primary:focus + .btn-primary, .btn-primary:focus {
    background-color: #015dab !important;
    color: #fff !important;
}

.btn-custom-primary, .btn-custom-primary:hover, .btn-custom-primary:focus + .btn-custom-primary, .btn-custom-primary:focus {
    background-color: #015dab !important;
    color: #fff !important;
}

.btn-success, .btn-success:hover, .btn-check:focus + .btn-success, .btn-success:focus, .btn-success.focus {
    background-color: #398a28 !important;
    color: #fff !important;
}

.form-control:focus {
    border: 1px solid #015dab;
}
